body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

h1 {
    line-height: 5rem;
    font-style: italic;
    color: blue;
    background-color: blueviolet;
    width: 35%;
    border-radius: 1rem;
    margin: 2rem auto;
    text-align: center;
}

#intro {
    width: 70%;
    margin: 1.5rem auto;
}

#navmenu {
    display: flex;
    margin-top: 5rem;
}

#navmenu li {
    list-style-type: none;
    margin-left: 5rem;
}